body {
}
.myy{
    background-color:yellow;
    text-align:center;
}
.myg{
    background-color:green;
}
.myr{
    background-color:red;
}
.myb{
    background-color:#84aacf;
}
.myf{
    background-color:#c46ded;
}

